*{
    margin: 0;
}

.Signup-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3498db;

}

.SignUp {
    background: rgba(255, 255, 255, 0.8);
    padding: 22px;
    border-radius: 8px;
    box-sizing: 0 0 10px rgba(0, 0, 0, 0.12);
    text-align: center;

}
.SignUp label{
    display: block;
    margin: 10px 0;

}
.SignUp input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 5px;
    margin-bottom: 10px;
}
.SignUp button{
    background-color: #2ecc71;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;

}

.SignUp button:hover{
    background-color: #27ae60;
}